In [2]:
#1. function that takes a list of numbers as input and returns athe sum of all even number in the list.

def sum_even_numbers(numbers):
    sum_even = 0
    for number in numbers:
        if number % 2 == 0:
            sum_even += number
    return sum_even
sum_even_numbers([1,2,3,4,5,6,7,8,9,10])

30

In [4]:
#2. function that accepts a string and return the reverse of that string

def reverse_string(string):
    return string[::-1]
reverse_string("Gaurav")

'varuaG'

In [5]:
#3. function that takes a list of integers and returns a new list containing squares of each number.

def square_numbers(numbers):
    squares = []
    for number in numbers:
        squares.append(number**2)
    return squares
square_numbers([1,2,3,4,5])

[1, 4, 9, 16, 25]

In [6]:
#4. functin that checks if a given number is prime or not from 1 to 200

def is_prime(number):
    if number < 2:
        return False
    for i in range(2, int(number**0.5) + 1):
        if number % i == 0:
            return False
    return True

is_prime(23)

True

In [7]:
# 5. iterator calss that generates the fibonacci sequence upto a specified number of terms

def fibonacci_sequence(n):
    a, b = 0, 1
    for _ in range(n):
        yield a
        a, b = b, a + b
for number in fibonacci_sequence(10):
    print(number)

0
1
1
2
3
5
8
13
21
34

In [8]:
#6. generator function that yields the powers of 2 up to a given exponent

def power_of_two(exponent):
    for i in range(exponent + 1):
        yield 2 ** i
for power in power_of_two(5):
    print(power)

1
2
4
8
16
32

In [9]:
#7. generator function that reads a file line by line and yields each line as a string

def read_file_lines(file_path):
    with open(file_path, 'r') as file:
        for line in file:
            yield line.strip()

In [13]:
#8. lambda function to sort a list of tuples based on the second element of each tuple

def sort_tuples(tuples):
    return sorted(tuples, key=lambda x: x[1])

sort_tuples([(2,3,5,3,2),(3,1,3,2)])

[(3, 1, 3, 2), (2, 3, 5, 3, 2)]

In [15]:
#9. program that uses map() to convert a list of temperatures from celsius to fahrenheit

def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 3

a=[10,54,32]
x=list(map(celsius_to_fahrenheit,a))
print(x)

[21.0, 100.2, 60.6]

In [16]:
#10. program that uses filter() to remove all the vowels from a given string

def remove_vowels(string):
    vowels = 'aeiouAEIOU'
    return ''.join(filter(lambda x: x not in vowels, string))
remove_vowels("Gaurav")

'Grv'

In [19]:
#11. program which returns a list with 2-tuples. Each tuple conssts of the ordernumber and the product of the price per item and te qunatity. The product should be increased by 10 if the value of order is smaller than 10000



def bill(order):
  result=[]
  for i in range (1,len(order)):
    if order[i][2]*order[i][3]<10000:
      result.append((order[i][0],order[i][2]*order[i][3]+10))
    else:
      result.append((order[i][0],order[i][2]*order[i][3]))
  return result

order=[["Order Number", "Book Title and author","Quantity", "Price per item"],[34587, "Learning Python, Mark lutz",4,40.95]]
bill(order)

[(34587, 173.8)]

In [20]:
#12. Python program using lambda and map

def square_numbers(numbers):
    return list(map(lambda x: x**2, numbers))
square_numbers([1,2,3,4,5])

[1, 4, 9, 16, 25]