In [11]:
#1. Code to create a string with your name and print it.

name="Gaurav Pant"
print(name)

Gaurav Pant

In [3]:
#2. code to find the length of  the string "Hello World"

a="Hello World"
print (len(a))

11

In [6]:
#3. code to slice the first 3 characters from the string "Python Programming"

b = "Python Programming"
print (b[3:len(b)])

hon Programming

In [8]:
#4. code to convert the string "hello" to upper case

c = "hello"
print (c.upper())

HELLO

In [12]:
#5. code to replace the word "apple" with "orange" in the string "I like apple"

d="I like apple"
print (d.replace("apple","orange"))

I like orange

In [13]:
#6. code to create a list with numbers 1 to 5 and print it.

e=[1,2,3,4,5]
print (e)

[1, 2, 3, 4, 5]

In [14]:
#7. code to appedn the number 10 to the list [1,2,3,4]

f=[1,2,3,4]
f.append(10)
print (f)

[1, 2, 3, 4, 10]

In [15]:
#8. code to remove the number 3 from the lst [1,2,3,4,5]

g=[1,2,3,4,5]
g.remove(3)
print (g)

[1, 2, 4, 5]

In [16]:
#9. code to access the second elemt in the list ["a","b","c","d"]

h=['a','b','c','d']
print (h[1])

b

In [20]:
#10. code to reverse the list [10,20,30,40,50]

i=[10,20,30,40,50]
i.reverse()
print (i)

[50, 40, 30, 20, 10]

In [21]:
#11. code to create a tuple with the elements 10,20,30 and print it.

j=(10,20,30)
print(j)

(10, 20, 30)

In [23]:
#12. code to access the first element of the tuple ('apple', 'banana', 'cherry')

k= ('apple', 'banana', 'cherry')
print (k[0])

apple

In [25]:
#13. code to count how many times the number 2 appears in the tuple (1,2,3,2,4,2)

l=(1,2,3,2,4,2)
print (l.count(2))

3

In [26]:
#14. code to find the index of the element "cat" in the tuple ('dog','cat',rabbit')

m=('dog','cat', 'rabbit')
print (m.index('cat'))

1

In [31]:
#15. code to check if the element "banana" is in the tuple ('apple','orange','banana)

n=('apple','orange','banana')
print ('banana' in n)

True

In [32]:
#16. code to create a set with the elements 1,2,3,4,5 and print it.

o={1,2,3,4,5}
print (o)

{1, 2, 3, 4, 5}

In [34]:
#17. code to add the element 6 to the set {1,2,3,4}

p={1,2,3,4}
p.add(6)
print (p)

{1, 2, 3, 4, 6}

In [35]:
#18. code to create a tuple with the element 10,20,30 and print it.

q=(10,20,30)
print (q)

(10, 20, 30)

In [36]:
#19. code to access the first element of the tuple ('apple', 'banana', 'cherry')

r=('apple','bnana','cheery')
print (r[0])

apple

In [37]:
#20. code to count how many times the nuber 2 appears in the tuple (1,2,3,2,4,2)

s=(1,2,3,2,4,2)
print (s.count(2))

3

In [38]:
#21. code to find the index of the element 'cat' in tuple ('dog','cat','rabbit')

t=('dog','cat','rabbit')
print (t.index('cat'))

1

In [39]:
#22 code to check if the element 'banana' is in the tuple ('apple','orange','banana')

u=('apple','orange','banana')
print ('banana' in u)

True

In [40]:
#23. code to create a set with the elements 1,2,3,4,5 and print it.

v={1,2,3,4,5}
print (v)

{1, 2, 3, 4, 5}

In [41]:
#24. Write a code to add the element 6 to the set {1,2,3,4}
w={1,2,3,4}
w.add(6)
print (w)

{1, 2, 3, 4, 6}