In [6]:
#Python Practical Questions and Solutions

In [7]:
#Q1 print Hello, World!

print("Hello, World!")

Hello, World!

In [10]:
#Q2 program to displays your name and age

n = input("Enter your name: ")
a = input("Enter your age: ")
print("Your name is", n, "and your age is", a)

Enter your name: Gaurav Pant
Enter your age: 24
Your name is Gaurav Pant and your age is 24

In [12]:
#Q3 keyword list

import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [14]:
#Q4 check a word ias a Python keyword

import keyword
w = input("Enter a word: ")
if keyword.iskeyword(w):
    print(w, "is a Python keyword.")
else:
    print(w, "is not a Python keyword.")

Enter a word: if
if is a Python keyword.

In [15]:
#Q5 check mutability

x=["ram", 2, 5] #a list
y=(3,4,6) # a tuple

x[0]=1
print(x)
y[0]=1
print(y)

[1, 2, 5]

TypeError: 'tuple' object does not support item assignment

In [17]:
# Q6- Q7 function to demonstrate behaviour of mutable and immutable arguments.
''' the solution to previous question does the same

List is mutable data type whereas tuple is immutable data type.
'''

' the solution to previous question does the same\n\nList is mutable data type whereas tuple is immutable data type.\n'

In [19]:
# Q8 program to demonstrate use of logical operators

x=4
y=5
if x%2==0 and y%2!=0: #and is logical operators used for combining conditional statement
    print("x is even and y is odd")

else:
  print("x is odd and y is even")

x is even and y is odd

In [22]:
#9 program to convert user input from string to integer; fload, and boolean types
x=input("Enter a number: ")
print(type(x))
print(int(x))
print(float(x))
print(bool(x))

Enter a number: 100
<class 'str'>
100
100.0
True

In [23]:
#10 type casting with list elements

x=[4,5,6]
print(type(x[0]))
x[0]=str(x[0])
print(type(x[0]))

<class 'int'>
<class 'str'>

In [24]:
# Q11 to check if a number is positive negative or zero

x=int(input("Enter a number: "))
if x>0:
    print("x is positive")
elif x<0:
    print("x is negative")
else:
    print("x is zero")

Enter a number: -55
x is negative

In [25]:
# Q12 for loop to print numbers from 1 to 10

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [26]:
# Q13 program to find sum of all even number between 1 and 50

sum=0
for i in range(1,51):
    if i%2==0:
        sum+=i
print(sum)

650

In [27]:
# Q14 program to reverse a string using a while loop

s=input("Enter a string: ")
i=len(s)-1
while i>=0:
    print(s[i], end="")
    i-=1

Enter a string: Gaurav
varuaG

In [28]:
#Q15 program to calculate the factorial fo a number provided by the user using while loop

n=int(input("Enter a number: "))
fact=1
while n>0:
    fact*=n
    n-=1
print(fact)

Enter a number: 69
171122452428141311372468338881272839092270544893520369393648040923257279754140647424000000000000000